{% extends 'base.html.twig' %}

{% block content %}
    <h2>Shopping cart</h2>

    <table class="table">
        <thead>
            <th width="10%">Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Total</th>
        </thead>
    </table>
{% endblock %}